<div class="container">

<h2>Monthly Cashflow Summary</h2>

  <% if @current_user %>
    <form action="/" method="get">
      <label>Select years and months</label>
      <div class="row">

        <% @available_months.group_by(&:year).each do |year, months| %>
          <div class="col-2">
          <div class="form-group">
            <h5><%= year %></h5>
            <% months.each do |month| %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="months[]" id="month_<%= month %>" value="<%= month.strftime("%m-%Y") %>"<%= 'checked' if @selected_months.include?(month.strftime("%m-%Y")) %>>
                <label class="form-check-label" for="month_<%= month %>">
                  <%= month.strftime("%B") %>
                </label>
              </div>
            <% end %>
          </div>
          </div>
        <% end %>

      </div>
      <button type="submit" class="btn btn-outline-secondary btn-sm me-2">Filter</button>
    </form>

    <div class="table-responsive">

    <table class="table">
      <thead>
      <tr>
        <th>Type</th>
        <% @monthly_data.keys.each do |month| %>
          <th><%= month %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @row_labels.each do |label| %>
        <% next if @monthly_data.all? { |_, types| (types[label] || 0).zero? } %>
        <tr>
          <td><%= label.presence || "Unspecified" %></td>
          <% @monthly_data.each do |_, types| %>
            <td>
              <%= Money.new((types[label] || 0) * 100, "EUR").format %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <% ["Debit Total", "Credit Total", "Difference"].each do |label| %>
        <tr class="table-secondary">
          <td><strong><%= label %></strong></td>
          <% @monthly_data.each do |_, types| %>
            <td><strong>
              <%= Money.new((types[label] || 0) * 100, "EUR").format %>
              </strong></td>
          <% end %>
        </tr>
      <% end %>
      </tfoot>
    </table>
    </div>

    <%= line_chart @cashflows.group(:type_name).group_by_month(:date).sum(:amount).transform_keys { |(type_name, date)| [type_name || "Unspecified", date] } %>



  <% else %>
    <p>You need to <%= link_to 'sign in', new_user_session_path %>
      or <%= link_to 'sign up', new_user_registration_path %> before continuing.</p>
  <% end %>

</div>

