<h1>Edit Cashflow</h1>

<%= form_with model: @cashflow, local: true do |form| %>
  <% if @cashflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashflow.errors.count, "error") %> prohibited this cashflow from being saved:</h2>
      <ul>
        <% @cashflow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: "amount-field", step: 0.01 %>
    <%= form.hidden_field :credit_debit, id: "credit-debit-field" %>
    <%= form.hidden_field :credit_debit, id: "credit-debit-field" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit "Update Cashflow" %>
  </div>
<% end %>

<%= link_to 'Back to Cashflows', cashflows_path %>
