<div class="container">
  <h1>Your Cashflow</h1>


  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <form action="#" method="get">

          <% @available_months.group_by(&:year).each do |year, months| %>
            <div class="form-group mb-3">
              <div class="d-flex align-items-center">
                <input type="checkbox" class="form-check-input me-2 year-checkbox" id="select_all_year_<%= year %>"
                       data-year="<%= year %>" >
                <button class="btn p-0 d-flex align-items-center" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#year<%= year %>"
                        aria-expanded="false"
                        aria-controls="year<%= year %>">
                  <i class="bi bi-chevron-right me-2"></i>
                  <span class="d-inline m-0 fs-5 fw-bold"><%= year %></span>
                </button>
              </div>

              <div class="collapse mt-2" id="year<%= year %>">
                <div class="ms-4">
                  <% months.each do |month| %>
                    <div class="form-check">
                      <input class="form-check-input month-checkbox"
                             type="checkbox"
                             name="months[]"
                             id="month_<%= month %>"
                             value="<%= month.strftime("%m-%Y") %>"
                             <%= params[:months]&.include?(month.strftime("%m-%Y")) ? "checked" : "" %>>
                      <label class="form-check-label" for="month_<%= month %>">
                        <%= month.strftime("%B") %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

            <button type="submit" class="btn btn-outline-secondary btn-sm me-2">Filter</button>
        </form>
      </div>
    </div>
    <div class="col">
      <%= link_to 'Add Cashflow', new_cashflow_path, class: "btn btn-outline-secondary btn-sm me-2" %>
      <br>
      <br>

      <%= form_with url: import_records_path, local: true, method: :post, multipart: true do |form| %>

        <div>
          <%= form.label :file, "Upload CSV File" %>
          <%= form.file_field :file, required: true %>
        </div>
        <%= form.submit "Upload", class: "btn btn-outline-secondary btn-sm me-2" %>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Date</th>
      <th>Credit/Debit</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @cashflows.each do |cashflow| %>
      <tr>
        <td><%= cashflow.amount %></td>
        <td class="table-responsive text-truncate" style="max-width: 200px;"><%= cashflow.description %></td>
        <td><%= cashflow.date %></td>
        <td><%= cashflow.credit_debit %></td>
        <td><%= cashflow.type_name %></td>
        <td>
          <div class="d-flex">
            <%= link_to "Edit", edit_cashflow_path(cashflow), class: "btn btn-outline-secondary btn-sm me-2" %>
            <%= button_to 'Delete', cashflow_path(cashflow), class: "btn btn-outline-danger btn-sm me-2", method: :delete, data: { confirm: 'Are you sure you want to delete this cashflow?' } %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



