<h1>Add New cashflow</h1>

<% if alert %>
  <p class="alert alert-danger"><%= flash[:alert]  %></p>
<% end %>

<%= form_with model: @cashflow, local: true do |form| %>
  <% if @cashflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashflow.errors.count, "error") %> prohibited this keyword from being saved:</h2>
      <ul>
        <% @cashflow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: "amount-field", step: 0.01 %>
  </div>

  <%= form.hidden_field :credit_debit, id: "credit-debit-field" %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, value: Date.today  || @keyword.date %>
  </div>

  <div class="field">
    <%= form.label :type_name %>
    <%= form.text_field :type_name %>
  </div>

  <div class="actions">
    <%= form.submit "Add Cashflow",  class: "btn btn-outline-secondary btn-sm me-2"%>
  </div>
<% end %>

<%= link_to 'Back', cashflows_path,  class: "btn btn-outline-secondary btn-sm me-2" %>
