<h1 ><%= @keyword.new_record? ? "Add New Keyword" : "Edit Keyword" %></h1>

<%= form_with model: @keyword, local: true do |form| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>
      <ul>
        <% @keyword.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type_name %>
    <%= form.text_field :type_name %>
  </div>




  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary btn-sm me-2"  %>
  </div>
<% end %>


