<div class="container">

<h1>Manage Keywords</h1>

<%= link_to "Add New Keyword", new_keyword_path, class: "btn btn-outline-secondary btn-sm me-2"  %>

<table class="table">
  <thead>
  <tr>
    <th>Keyword</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr>
      <td><%= keyword.name %></td>
      <td><%= keyword.type_name %></td>
      <td>
        <%= link_to "Edit", edit_keyword_path(keyword), class: "btn btn-outline-secondary btn-sm me-2" %>
        <%= link_to "Delete", keyword_path(keyword), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm me-2" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

