<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Moneyplanner" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


  <%= javascript_importmap_tags %>



</head>


  <body>
  <div class="container-fluid">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
      <!-- Left Section -->
      <div class="d-flex">
        <%= link_to 'Home', root_path, class: "navbar-brand me-3" %>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <%= link_to 'Cashflow', cashflows_path, class: "nav-link me-3" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Keywords', keywords_path, class: "nav-link me-3" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to "Add Cashflow", new_cashflow_path, method: :get, class: "btn btn-outline-primary nav-link me-3" %>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Right Section -->
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger me-2" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary me-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </nav>


  <%= yield %>
</header>
  </div>

  </body>
</html>
